.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
  font-size: 2rem;
}

form {
  width: 80%;
  border: 2px solid grey;
  margin: auto;
}

label {
  text-align: left;
  width: 400px;
  display: inline-block;
}

input{
  width: 600px;
  margin-left:100px;
}

input[type="number"] {
  height: 40px;
  font-size: 1.8rem;
}

button {
  margin-top:30px;
  font-size: 2rem;
  height: 50px;
  color:green;
  width: 300px;
}
button:hover {
  cursor: pointer;
}