.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
  font-size: 2rem;
}

form {
  width: 100%;
  margin: auto;
}

legend {
  margin: auto;
}

label {
  text-align: left;
  width: 35%;
  display: inline-block;
}

div {
  margin-bottom: 10px;
}

input{
  width: 60%;
}

input[type="number"] {
  height: 40px;
  font-size: 1.8rem;
}

button {
  margin-top:30px;
  font-size: 2rem;
  height: 50px;
  color:green;
  width: 90%;
}
button:hover {
  cursor: pointer;
}

table {
  border: 3px double grey;
}

tr {
  border: 1px solid grey;
}